[Unit]
Description=rTorrent
After=network.target

[Service]
Type=forking
KillMode=none
ExecStart=/usr/bin/tmux new-session -s rtorrent -n rtorrent -d  -- rtorrent -n -o import=~/.config/rtorrent/config
ExecStop=/usr/bin/bash -c "/usr/bin/tmux send-keys -t rtorrent:rtorrent C-q && while pidof rtorrent > /dev/null; do sleep 0.5; echo rtorrent still running...; done"
WorkingDirectory=%h
Restart=on-failure

[Install]
WantedBy=default.target
